.forgotPassBtn {
  font-size: 1.4rem;
  color: rgba(51, 51, 51, 0.6);
  border: none;
  background-color: transparent;
  align-self: flex-end;
  cursor: pointer;
}

.loginForm {
  gap: 2.4rem;
}

/* 528px */
@media (max-width: 33rem) {
  .forgotPassBtn {
    font-size: 1.2rem;
  }
}
