@use "../abstracts/index" as *;

body {
  font-family: $default-font;
  font-weight: 400;
  line-height: 1;
  color: $color-gray;
}

.hero-heading {
  font-family: $heading-font-family;
  font-weight: 800;
  font-size: 7.2rem;
  line-height: $tight-line-height;

  @include respond(large) {
    font-size: 6.4rem;
  }

  &_sub {
    font-size: 2.4rem;
    font-weight: 700;
    color: $color-white;
    line-height: $tight-line-height;

    @include respond(large) {
      font-size: 2rem;
    }
  }

  &_white {
    @extend .hero-heading;
    color: $color-white;
  }
}

.heading-primary {
  font-size: 4.8rem;
  font-weight: 800;
  color: $color-gray;

  @media (max-width: $bg-medium) {
    font-size: 3.4rem;
  }

  @media (max-width: $bg-small) {
    width: 100%;
    text-align: center;
  }
}

.heading-secondary {
  font-size: 3.2rem;
  font-weight: 800;
  color: $color-gray;

  @media (max-width: $bg-medium) {
    font-size: 2.8rem;
  }

  @media (max-width: $bg-small) {
    width: 100%;
    text-align: center;
  }
}

.heading-tertiary {
  font-size: 2.4rem;
  color: $color-gray;
  font-weight: 700;
  line-height: $tight-line-height;
}
