@import "/src/sass/abstracts/variables";

.infoList {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .item {
    display: flex;
    gap: 1rem;
    align-items: center;
    font-size: 1.8rem;
    line-height: $snug-line-height;

    @media (max-width: $bg-small) {
      font-size: 1.6rem;
    }

    .listIcon {
      width: 2.4rem;
      height: 2.4rem;
      background-color: transparent;
      color: #fa8b02;
    }

    .itemName {
      font-weight: 700;
    }
  }
}
