// Colors
$color-primary: #fa8b02;
$color-primary-light: #fcb967;
$color-primary-dark: #e17d02;

$color-gray: #333;
$color-gray-light: #efefef;
$color-gray-light-2: #c2c2c2;

$color-dark: #000;
$color-white: #fff;

// Line heights
$tight-line-height: 1.33;
$snug-line-height: 1.44;
$normal-line-height: 1.67;
$relaxed-line-height: 1.78;

// Border Lines
$line-thin: 1px solid $color-gray-light;
$line-thin-dark: 1px solid $color-gray-light-2;

// Spacing
$horizontal-padding: 3.2rem;

// Responsive Breakpoints
$bg-largest: 78em; // 1248px
$bg-large: 59em; // 944px
$bg-medium: 45em; // 720px
$bg-small: 33em; // 528px
