@use "/src/sass/base/animations" as *;
@use "src/sass/abstracts/variables" as *;

.header {
  width: 100%;
  color: $color-white;
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  padding: 2rem 3.2rem;
  background-color: rgba($color-white, 0.2);
  font-size: 2rem;

  display: flex;
  justify-content: space-around;

  &_white {
    @extend .header;
    box-shadow: inset 0 -2px 0 #efefef;
    background-color: $color-white;
    color: $color-gray;
  }

  &_sticky {
    width: 100vw;
    box-shadow: none;
    position: fixed;
    backdrop-filter: blur(1px);
    background-color: rgba($color-dark, 0.6);
    color: $color-white;
    animation-timing-function: ease-in;
    animation-duration: 0.3s;
    animation-name: fadeIn, dropHeader;

    &_removal {
      @extend .header_sticky;
      animation-name: fadeOut, upHeader;
    }
  }
}

@keyframes dropHeader {
  from {
    transform: translateY(-4rem);
  }
  to {
    transform: translateY(0rem);
  }
}

@keyframes upHeader {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-4rem);
  }
}
