.main {
  display: grid;
  grid-template-columns: 2.5rem calc(100% - 5rem) 2.5rem;

  &__section_space-between {
    grid-column: 2 / 3;
  }

  &__section_full-width {
    grid-column: 1 / -1;
  }
}

.section {
  opacity: 1;
  transform: translateY(0);
  transition: all 0.7s ease-in-out;

  &_hidden {
    opacity: 0;
    transform: translateY(3rem);
  }
}
