@use "../abstracts/index" as *;

.swiper-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5.7rem;

  @include respond(medium) {
    margin-bottom: 0;

    &__title {
      width: 100%;
      text-align: center;
      margin-bottom: 2rem;
    }
  }

  &__btn-container {
    display: flex;
    gap: 2rem;

    @include respond(medium) {
      display: none;
    }
  }
}
