@import "/src/sass//abstracts/variables";

.button {
  &:link,
  &:visited {
    background-color: $color-primary;
    width: 100%;
    font-size: 2rem;
    font-weight: 600;
    color: $color-white;
    text-align: center;
    text-decoration: none;
    border-radius: 50px;
    line-height: $tight-line-height;
    padding: 1rem 2.4rem;
    transition: all 0.3s ease;
  }

  &:hover,
  &:active {
    background-color: $color-primary-dark;
  }
}

.buttonTransparent {
  @extend .button;

  &:link,
  &:visited {
    border: 1px solid $color-primary;
    background-color: transparent;
    color: $color-primary;
  }

  &:hover,
  &:active {
    color: $color-white;
    background-color: $color-primary;
  }
}

.buttonWhite {
  @extend .button;

  &:link,
  &:visited {
    border: 1.5px solid $color-white;
    background-color: transparent;
    color: $color-white;
  }

  &:hover {
    color: $color-white;
    background-color: transparent;
    transform: translateY(-0.5rem);
    box-shadow: 0px 1px 15px 5px rgba(0, 0, 0, 0.15);
  }
  &:active {
    transform: translateY(0);
    box-shadow: none;
  }
}
