@use "/src/sass/abstracts/index" as *;
@use "/src/sass/base/animations" as *;

.headerContainer {
  position: relative;
  width: 100%;
  max-width: 142rem;

  display: flex;
  gap: 10rem;
  justify-content: space-between;
  align-items: center;
}

.logoTusc {
  display: block;
  max-width: 13.3rem;

  img {
    width: 100%;

    @include respond(medium) {
      width: 11rem;
    }
  }
}

.mobileBtn {
  color: currentColor;
  display: none;
  cursor: pointer;
  flex: 0 0 30px;
  height: 30px;

  &:not(.mobileBtnCancel):hover {
    & .menuIcon::before {
      top: -1.2rem;
    }
    & .menuIcon::after {
      top: 1.2rem;
    }
  }

  @include respond(largest) {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 4;
  }

  .menuIcon {
    background-color: currentColor;
    position: relative;

    user-select: none;

    &,
    &::before,
    &::after {
      transform-origin: center left;
      display: inline-block;
      width: 100%;
      height: 0.3rem;
      border-radius: 5rem;
      background-color: currentColor;
      transition: transform 0.2s ease-in;

      @include respond(medium) {
        height: 0.4rem;
      }
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      overflow: hidden;
    }

    &::before {
      top: -1rem;
    }
    &::after {
      top: 1rem;
    }
  }
}

.mobileBtnCancel {
  color: $color-white;

  .menuIcon {
    transition: transform 0.5s ease-out;
    background-color: transparent !important;

    &::before {
      top: -1.2rem;
      transform: rotate(40deg);
    }

    &::after {
      top: 1.2rem;
      transform: rotate(-40deg);
    }
  }
}

.userContainer {
  display: flex;
  gap: 4rem;
  align-items: center;
  flex: 1 0 auto;
  justify-content: flex-end;
}
