.scrollBarWrapper {
  margin-top: 2.4rem;
  width: 100%;
  padding: 0 3.2rem;
  height: 1rem;
  position: relative;
  visibility: hidden;
}
.scrollBarWrapper::before {
  position: absolute;
  z-index: 1;
  content: "";
  background-color: #333;
  width: 90%;
  max-width: 120rem;
  height: 0.4rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.scrollBarTours {
  height: 1rem;
  margin: 0 auto;
  background-color: transparent;
  counter-reset: pointer;
  width: 80%;
  border-radius: 10px;
}

.swiper-scrollbar-drag {
  background-color: #fa8b02;
  border-radius: 9px;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
  z-index: 2;
}

/* 720px */
@media (max-width: 45em) {
  .scrollBarWrapper {
    visibility: visible;
  }
}
