@use "/src/sass/abstracts/index" as *;

.topBarContainer {
  color: currentColor;
  font-size: inherit;
  font-weight: 600;
  max-width: 100.9rem;
  width: 100%;

  display: flex;
  align-items: center;
  gap: 2.2rem;
}

.navWithLangContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.navigation {
  max-width: fit-content;
  width: 100%;
}

.headerLink:link,
.headerLink:visited,
.loginBtn {
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
}
.headerLink:link::after,
.headerLink:visited::after,
.loginBtn::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: #fa8b02;
  transition: width 0.3s;
}

.headerLink:hover::after,
.headerLink:active::after,
.loginBtn:hover::after {
  width: 100%;
}

.loginContainer {
  max-width: fit-content;
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  gap: 2.2rem;
}

.loginBtn {
  padding: 1rem 1.2rem;
  display: inline;
  background-color: transparent;
  border: none;
}

.signUpBtn {
  color: #fff !important;
  padding: 1rem 2.4rem;
  background-color: $color-primary;
  border: none;
  border-radius: 50px;
  color: inherit;
  font-weight: inherit;
  font-size: inherit;
  cursor: pointer;

  transition: background-color 0.3s ease;
}

.signUpBtn:hover {
  background-color: $color-primary-dark;
}

.navList {
  width: 100%;
  list-style: none;

  display: flex;
  gap: 4rem;
}

.navList > li {
  width: fit-content;
}

.navigationOpen {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}

.authContainer {
  display: flex;
  align-items: center;
  gap: 2.2rem;
  flex: 0 0 auto;
}

.btnUser {
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

@media (min-width: $bg-medium) and (max-width: $bg-largest) {
  .navigation {
    @include sidebar;
  }

  .openNav .navigation {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }
}

@include respond(largest) {
  .topBarContainer {
    justify-content: flex-end;
  }

  .navList {
    flex-direction: column;
  }
  .navList li {
    width: 100%;
    text-align: center;
  }
  .loginContainer {
    width: fit-content;
  }

  .headerLink:link,
  .headerLink:visited {
    color: #fff;
  }

  .navWithLangContainer {
    width: auto;
  }
}

/* 720px */
@include respond(medium) {
  .topBarContainer:not(.authorized) {
    @include sidebar;
    flex-direction: column;

    .navWithLangContainer {
      flex-direction: column;
      align-items: center;
    }

    &.openNav {
      opacity: 1;
      pointer-events: auto;
      visibility: visible;
      transform: translateX(0);
    }
  }

  .topBarContainer.authorized {
    .navWithLangContainer {
      @include sidebar;

      flex-direction: column;
      align-items: center;
    }

    &.openNav {
      .navWithLangContainer {
        opacity: 1;
        pointer-events: auto;
        visibility: visible;
        transform: translateX(0);
      }
    }
  }

  .navList {
    margin: 4rem 0;
  }
}
